<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_action</servlet-name>
        <servlet-class>action.Servlet_action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAction</servlet-name>
        <servlet-class>action.RegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Action</servlet-name>
        <servlet-class>com.actions.Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bsplogin</servlet-name>
        <servlet-class>com.actions.bsplogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infralogin</servlet-name>
        <servlet-class>com.actions.infralogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_action</servlet-name>
        <url-pattern>/Servlet_action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAction</servlet-name>
        <url-pattern>/RegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Action</servlet-name>
        <url-pattern>/Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bsplogin</servlet-name>
        <url-pattern>/bsplogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infralogin</servlet-name>
        <url-pattern>/infralogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
